@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url('fontes/BebasNeue-Regular.ttf') format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf' ) format(opentype);
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'titulo';
    --fonte-android: 'idroid', Arial;

}

/*Seletor global "*" */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0);
    font-family:var(--fonte-padrao) ;   
}

a.externo::after {
    content: '\00A0\1F517';
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 35px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 25px;
    text-shadow: 9px 11px 12px black;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 8px rgba(12, 12, 12, 0.774);
}

nav > a {
    color: rgb(218, 218, 218);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}
main {
    min-width: 30px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 22px;
    background-color: white; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42); 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 13px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1em;
}

main strong {
    color:var(--cor4);
    font-weight: bold;
    padding: 2px 3px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 1px 2.8px;  
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 200px;
    max-height: 300px;
    display: block;
    margin: auto;
}

div.videoYt {
    background-color: transparent;
    margin: 0px -20px 30px -20px;
    padding: 20px ;
    padding-bottom: 60%;
    position: relative;
}

div.videoYt > iframe {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 85%;
    height: 85%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 3px 3px 2px rgba(14, 14, 14, 0.402);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 0px 0px 0px;
}

aside > ul {
    list-style-type: '\1F4CC\00A0';   
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}